<div class="container mx-auto p-4">
  <section class="bg-[#f1f3f48f] p-6 rounded-md">
    <h1 class="text-left pl-1 pt-2 font-bold text-lg">Recently Added Docs</h1>
    <div
      class="my-2 mx-2 grid grid-cols-2 gap-4 sm:grid-cols-5 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8"
    >
      @for (item of list; track $index) {
      <a href="">
        <img
          class="bg-auto hover:border-red-500 border-spacing-2 border-2 rounded-md"
          src="https://cdn4.iconfinder.com/data/icons/glyph-1-ui-part-4-of-4/100/pack07-05-512.png"
          alt=""
          srcset=""
      /></a>

      }
    </div>
  </section>
  <section class="my-10">
    <div class="relative inline-flex">
      <svg
        class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 412 232"
      >
        <path
          d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
          fill="#648299"
          fill-rule="nonzero"
        />
      </svg>
      <select
        class="border cursor-pointer border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
      >
        <option class="text-gray-400 rounded-full">None</option>
        <option [defaultSelected]="true">Owned by me</option>
        <option>Edited by anyone</option>
        <option>Read by anyone</option>
      </select>
    </div>
    <h1 class="text-left pl-1 pt-2 font-bold text-lg"> Documents</h1>
    <div
      class="my-2 mx-2 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
    >
      @for (item of list; track $index) {
      <a href="">
        <img
          class="bg-auto cursor-pointer hover:border-blue-500 border-spacing-2 border-2 ease-in-out transition-colors rounded-md"
          src="https://ssl.gstatic.com/docs/templates/thumbnails/1wyFqxsRmKm9q--7j4WRmBMn694YdhV6hmNrfh4rVm2E_400.png"
          alt=""
          srcset=""
        />
      </a>

      }
    </div>
  </section>
</div>
